In [2]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
# import time

In [11]:
df = pd.read_csv (r'/Users/andrewrust/Desktop/LABS/PT17_cityspire-b-ds/notebooks/datasets/datasets_to_merge/updated/final.csv')

In [12]:
df.head()

,City,State,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,...,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,Air Quality Index,Diversity Index,Nearest,lat,lon
0,Akron,OH,267782,129623,138086,1.9,67.4,23.2,0.2,3.6,...,0,132,0,142,0,Good,0.490241,"126,56,332,355,295",41.044852,-81.520048
1,Albany,GA,93421,43571,49835,2.8,29.2,65.2,0.1,0.9,...,0,0,0,244,0,Good,0.488771,"162,372,139,351,249",31.567783,-84.161923
2,Albany,NY,147794,70664,77096,7.8,60.3,20.1,0.1,7.6,...,0,169,0,104,0,Good,0.584133,"319,358,336,145,79",42.652580,-73.756633
3,Albany,OR,61555,30378,31168,11.4,82.7,0.6,0.7,1.9,...,0,0,0,182,0,Good,0.302632,"29,132,230,383,202",44.627722,-123.094409
4,Albuquerque,NM,632240,309415,322758,50.4,38.5,2.5,4.0,2.4,...,0,127,0,25,30,Good,0.594958,"359,258,386,360,127",35.106766,-106.629181

In [13]:
df.shape

(397, 71)

376